.hidden {
  visibility: hidden;
}

p {
    font-family: Arial;
    font-size: 3vw;
    font-size: 3vh;

}

#title {
    font-family: Arial;
    font-size: 5vw;
    font-size: 5vh;}

#stay {
    background-color: black; 
    border: none;
    color: white;
    padding: 1vw;
    padding: 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    font-size: 2vh;
    
  }

  #stay:disabled {
    background-color: #dddddd;
  }

  #hit {
    background-color:black; 
    border: none;
    color: white;
    padding: 1vw;
    padding: 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    font-size: 2vh;
  }

  #hit:disabled {
    background-color: #dddddd;
  }

  #deal {
    background-color:black; 
    border: none;
    color: white;
    padding: 1vw;
    padding: 1vh;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    font-size: 2vh;
  }

  #deal:disabled {
    background-color: #dddddd;
  }

  #bet10 {
    background-color: rgb(1, 158, 6); 
    border: none;
    color: white;
    padding: 1vw;
    padding: 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    font-size: 2vh;
  }

  #bet10:disabled {
    background-color: rgb(177, 247, 178);
  }

  #bet25 {
    background-color: rgb(1, 158, 6); 
    border: none;
    color: white;    
    padding: 1vw;
    padding: 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    font-size: 2vh;
  }

  #bet25:disabled {
    background-color: rgb(177, 247, 178);
  }

  #bet50 {
    background-color: rgb(1, 158, 6); 
    border: none;
    color: white;
    padding: 1vw;
    padding: 1vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    font-size: 2vh;
  }
  
  #bet50:disabled {
    background-color: rgb(177, 247, 178);
  }

