
#redBack {
    height: 200px;
    width: 130px;
}

#redBack2 {
    height: 200px;
    width: 130px;
}

#grayBack {
    height: 200px;
    width: 130px;
}

#grayBack2 {
    height: 200px;
    width: 130px;
}

#firstHit {
    height: 200px;
    width: 130px;
}

#shuffle {
    position: absolute;
    top: 40%;
    left: 25%;
}

#stand {
    position: absolute;
    top: 40%;
    left: 40%;
}